
<h3>Hello, <%=current_user.username%></h3>

Help others by answering their questions!
<a href="/questions/new">Or write your own question!</a>

 <%@questions.each do |question|%>
 <li> <a href="/questions/<%= question.id %>"> <%= question.topic %> </a></li>
 <% end %>
