<%binding.pry%>
<h3>Hello, <%=current_user.username%></h3>

Help others by answering their questions!
<%if @questions.empty?%>
  <a href="/questions/new">Ask a Question!</a>
  <%else%>
<%@questions.each_with_index do |question, index|%>

<ol>
    <%=index+1%>. <%= question.topic%>
</ol>
  <%end%>
<%end%>
