<h2>Ask a new question!</h2>

<form action="/questions" method="post">
  <h4><label>Question:</label></h4>
  <p>Please do not leave any fields empty.</p>
  <input type="text" name="topic" value="Topic*"></br>
  <input type="text" name="content" value="Content*"></br>
  <input type="text" name="choice1" value="Choice One*"></br>
  <input type="text" name="choice2" value="Choice Two*"></br>

  <input type="submit" class="btn btn-primary" value="submit">

</form>
